/node_modules
/public/hot
/public/storage
/public/baseCourse.zip
/public/course.zip
/storage/*.key
/storage/app/public/*
/vendor
.env
.env.backup
.phpunit.result.cache
/documentation
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/baseCourse/*
/public/test/*
